* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: calc(100% - 300px - 3rem); /* Subtract sidebar width and padding */
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 80px;
  background-color: var(--bg-color, #ffffff);
  color: var(--text-color, #000000);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex: 1; /* Takes up available space to push right-side content to the end */
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.6rem;

}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 0 10px;
}

.toggle-icon {
  position: relative;
  width: 65px;
  height: 30px;
  background-color: var(--toggle-bg, #000000);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-light{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  margin-left: 1px;
  height: 24px;
  border-radius: 50%;
  z-index: 2;
}
.icon-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  margin-right: 1px;
  height: 24px;
  border-radius: 50%;
  z-index: 2;
}

.icon-light {
  font-size: 13px;
  color: var(--sun-color, #000000);
  background-color: var(--light-bg, #ffffff);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.icon-dark {
  font-size: 13px;
  color: var(--moon-color, #ffffff);
  background-color: var(--dark-bg, #000000);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.toggle-icon .toggle-circle {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: left 0.3s ease, background-color 0.3s ease;
  z-index: 1;
}

.toggle-icon.dark .toggle-circle {
  left: 36px;
  background-color: #000000;
}

.notification-icon {
  font-size: 24px;
  color: var(--text-color, #000000);
}

.profile {
  align-items: center;
  display: flex;
  margin-right: 0.5rem; /* Add margin to prevent edge touching */
  gap: 0.5rem; /* Reduced gap */
  padding-right: 1.5rem;
}
.profile p{
  padding: 0 10px;
  margin-right: 0.5rem; /* Reduced margin */
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color:darkgrey;
  margin-right: 0.5rem; /* Add margin to prevent edge touching */
}
