div{
    margin-left: 5px;
    width:200px;
    background-color: rgb(225, 232, 237);
}    
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
li{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 5px;    
    padding-right: 15px;
}